<h1>Categories#update</h1>
<p>Find me in app/views/categories/update.html.erb</p>

<%= simple_form_for @category, html: { multipart: true } do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :photo, as: :file %>
  <%= f.button :submit, "Modifier" %>
<% end %>
