  <%= button_to 'Créer un nouvel item', new_category_item_path(@category), method: :get  %>

  <%= button_to 'Accueil', root_path, method: :get %>

  <div class="card-container">
    <% @items.each do |item| %>
      <% if item.photo.attached? %>
        <div class= "card">
          <%= image_tag item.photo, class: "card-image" %>
            <div class="card-content">
              <h2><center><%= item.name %></center></h2>
              <p><%= item.description %></p>
              <div class="button-container">
                <%= button_to "Supprimer", category_item_path(category_id: @category.id, id: item.id), method: :delete, data: { confirm: 'Êtes-vous sur?' }%>
                <%= button_to "Modifier", edit_category_item_path(category_id: @category.id, id: item.id), method: :get %>
              </div>
            </div>
          <% end %>
      </div>
    <% end %>
  </div>
