
  <div>
    <% @items.each do |item| %>
      <div>
        <h5><%= item.name %></h5>
        <p><%= item.description %></p>
        <% if item.photo.attached? %>
          <%= image_tag item.photo %>
          <%= button_to "Supprimer", category_item_path(category_id: @category.id, id: item.id), method: :delete, data: { confirm: 'Êtes-vous sur?' }%>
        <% end %>
      </div>
    <% end %>
  </div>



  <%= link_to 'Créer un nouvel item', new_category_item_path(@category)  %>
